instance_api_url = "https://TODO"
ses_from_email   = "TODO@TODO.com"
#ses_create_identity = false # sender domain already verified in SES
#extra_oauth_urls = ["http://localhost:3000"]
initial_owner_email         = "TODO@TODO.com"
initial_owner_temp_password = "TODOTODOTODO"